name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            # Add multiple commands to run if needed

            mkdir -p build
            cd build
            ../scripts/make_debug.sh
            ./Debug/tests/tests
            ../scripts/make_release.sh
            ./Release/tests/tests
            

